<div class="center jumbotron bg-light">
  <div class="text-center">
    <h1 class="text-warning">Tasklister へようこそ！</h1>
    <%= link_to '新規で登録する', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>